services:
  - type: web
    name: clearq
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        fromDatabase:
          name: clearq-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
