Flask
Flask-WTF
Flask-SQLAlchemy
Flask-Login
Flask-Mail
Flask-Limiter
Flask-CORS
Flask-Dance
Werkzeug
Jinja2
itsdangerous
blinker
python-dotenv
requests
requests-oauthlib
oauthlib
scikit-learn
pandas
numpy
scipy
Pillow
razorpay
cryptography
alembic
gunicorn
psycopg2-binary
email-validator
bleach
pytz
SQLAlchemy
WTForms
