flask
flask-wtf
flask-sqlalchemy
flask-login
flask-mail
flask-limiter
flask-cors
flask-dance
werkzeug
jinja2
itsdangerous
blinker
python-dotenv
requests
requests-oauthlib
oauthlib
scikit-learn
pandas
numpy
scipy
pillow
razorpay
cryptography
alembic
gunicorn
psycopg2-binary
email-validator
bleach
pytz
