Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-CSRF
Flask-Limiter
Werkzeug
SQLAlchemy
psycopg2-binary
razorpay
scikit-learn
numpy
Pillow
bleach
itsdangerous
python-dotenv
gunicorn
